.list {
  font-size: 14px;
  display: flex;
  margin: 15px 0 15px;
}

.orderContent {
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

.name {
  font-size: 20px;
  width: 150px;
}

.quantity {
  display: block;
  text-align: right;
}

.price {
  margin: 0 20px 0 10px;
  text-align: right;
}

.trashBtn {
  width: 35px;
  height: 35px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.emptyList {
  text-align: center;
}
