.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin-left: 15px;
}

.title > span {
  color: #ffdf1f;
}

.logoImage {
  width: 50px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 30px;
  }
}
