.modal {
  position: relative;
  background-color: rgba(26, 26, 26, 0.9);
  width: 800px;
  height: 700px;
  border-radius: 10px;
  padding: 25px;
}

.title {
  text-transform: uppercase;
  font-size: 50px;
  text-align: right;
  margin-bottom: 30px;
}

.imageWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.orderBlock {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.count {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.toppings {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.total {
  margin-bottom: 25px;
}
