.input {
  width: 10px;
}

.label:hover {
  color: #ffdf1f;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 20px;
}

@media (min-width: 1025px) {
  .input {
    width: 20px;
  }
}
