.list {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-gap: 35px;
}

.item {
  cursor: pointer;
  max-width: 500px;
}

.description {
  color: #000000;
  background-color: #ffdf1f;
  padding: 10px;
  border-radius: 5px;
}

.name {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.price {
  text-align: right;
}

.image {
  position: relative;
  top: -35px;
  transition: all 0.3s linear;
}

.item:hover .image {
  transform: rotate(5deg) scale(1.1);
}
